@charset "UTF-8";

header {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

header h1 {
    font-size: 100px;
}

header p {
    font-size: 30px;
}

main {
    width: 445px;
}