@charset "UTF-8";

body {
    height: 100vh;
}

header {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
    height: 500px;
    background-color: red;
}

header h1 {
    font-size: 100px;
}

header p {
    font-size: 30px;
}

main {
    width: auto;
}