@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
}

body {
    background-color: rgb(250, 50, 50);
}

header {
    font-family: "Oswald", sans-serif;
    color: white;
    height: 600px;
    background: url(img/euiela.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-attachment: fixed;
}

header h1 {
    font-size: 150px;
    padding-left: 50px;
    padding-top: 40px;
    text-shadow: 1px 1px 5px black;
}

header p {
    font-size: 40px;
    padding-left: 55px;
    padding-top: 10px;
}

main {
    margin: auto;
    padding: 20px;
    color: black;
    width: 900px;
    text-align: justify;
    background-color: white;
    box-shadow: 2px 2px 15px black;
}

main h2 {
    text-align: center;
    font-size: 60px;
    font-family: "Oswald", sans-serif;
}

main p {
    line-height: 30px;
    font-size: 18px;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo_one {
    padding: 10px 0px;
} 

